.y {
  position: relative;
}
.y:hover {
  color: inherit;
}
.y:after {
  content: attr(href);
  border-bottom: #FF5E00 solid 0.05em;
  color: transparent;
  position: absolute;
  left: 0;
  top: -0.1em;
}
.y:hover:after {
  border-bottom: #FF5E00 solid 0.1em;
}

@function color($i, $transparentZero) {
  @if ($i == 0 and $transparentZero) {
    @return transparent;
  }
  $colors: (
    #000000,
    #800000,
    #008000,
    #808000,
    #000080,
    #800080,
    #008080,
    #c0c0c0,
    #808080,
    #ff0000,
    #00ff00,
    #ffff00,
    #0000ff,
    #ff00ff,
    #00ffff,
    #ffffff
  );
  @return nth($colors, $i);
}

.o {
  position: relative;
  display: inline-block;
}
.o:after {
  content: attr(t);
  position: absolute;
  left: 0px; 
  width: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  pointer-events: none;
}
.qq {
  color: RGBA(0,0,0,0);
}

@for $i from 0 through 15 { 
  $color-i-trans: color($i+1,true);
  $color-i: color($i+1,false);

  .qq#{$i} {
    color: RGBA(0,0,0,0);
    background-color: $color-i-trans;
  }

  .q#{$i} {
    color: $color-i;
  }

  .b#{$i} {
    background-color: $color-i-trans;
  }

  @for $j from 0 through 15 {
    $color-j-trans: color($j+1,true);

    .b#{$i}b#{$j} {
      background: -webkit-linear-gradient(left,$color-i-trans 50%, $color-j-trans 50%);
    }
  }

  .trans-fix .b#{$i} {
    box-shadow:0 0 5px 5px $color-i-trans inset;
  }

  .w#{$i}:after {
    color: $color-i;
    text-shadow: $color-i 0 0 0px,$color-i 0 0 0px,$color-i 0 0 0px,$color-i 0 0 0px,$color-i 0 0 0px;
  }
}
