@font-face {
  font-family: SymMingLiu;
  src: url('../fonts/symmingliu.woff');
}
@font-face {
  font-family: DFHeiLightB5;
  src: url('../fonts/DFHeiLightB5.woff');
}

#picPreview {
  position: absolute;
  display: none;
  z-index: 3;
}

#sideMenus {
  position: fixed;
  width: 95px;
  top: 0px;
  z-index: 3;

  transition: 0.25s ease;
}

.menu {
  left: 0px;
}

.menuHidden {
  left: -85px;
}

.menuHidden:hover {
  left: 0px;
}


#logo {
  width: 85px;
  height: 90px;
  background: url('../icon/icon_128.png') 0 0/85px 85px no-repeat;
}

.font_btn {
  width: 85px;
  height: 85px;
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px;
  margin: 0px;
  float: left;
  cursor: pointer;
}
.font_btn:hover {
  background-color: #333;
}

.font_btn > i {
  line-height: 40px;
}
.font_btn > span {
  font-size: 13px;
}


.linkurl {
  text-decoration:underline;
  color:#FF00FF;
}

a:link,a:visited,a:active,a:hover {
  background-position: 0% 90%;
  text-decoration:none;
}


#fbSharing {
  position: absolute;
  display: none;
  z-index: 2;
}

#fbSharing .fb_iframe_widget span iframe {
  bottom: 0!important;
}

.easyReadingImg {
  max-height: 19em;
  max-width: 39em;
  margin: 0.5em auto;
  display: block;
}
.easyReadingVideo {
  margin: 0.5em auto;
  width: 640px;
  display: block;
}


img {
  background:white; 
  color:black; 
  padding:5px 5px;
}

body {
  color: white;
  //background-color: #101010;
  background-color: black;
  margin: 0px;
  overflow:hidden;
}

span [link="true"] {
  margin: 0px; 
  background-image: inherit; 
  background-repeat: inherit; 
  background-position: inherit;
}

span {
  margin: 0px;
}

.drag {
  display: none; 
  position: absolute; 
  cursor: default; 
  z-Index: 11;
}

.closeSI {
  float: right;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbbbff;
  cursor: default;
}

.EPbtn {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #ffbbbb;
  cursor: default;
}

.closePP {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbffbb;
  cursor: default;
}

#PicturePreviewInfo{
  color : #fff;
  text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 3px #fff,0 0 4px #0000ff,0 0 7px #0000ff,0 0 8px #0000ff,0 0 10px #0000ff,0 0 15px #0000ff;
}

#SymbolInput {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #bbbbff;
  opacity: 0.75;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#YoutubeWindow, #YoutubeWindow2 {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffbbbb;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#PictureWindow {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffffff;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

.floatWindowClientArea {
  background-color: #ffffff;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 1px solid #000000;
  cursor: default;
}

.floatWindowClientArea2 {
  background-color: #ffbbbb;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:0px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea3 {
  background-color: #ffbbbb;
  margin-top:0px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea4 {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
  position: relative;
}

.floatWindowClientArea5 {
  background-color: #bbffbb;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
}

.picturePreview {background:white; color:black; padding:0px;margin: 0px;}

.sBtn{
  font-family: MingLiu, monospace;
  font-size: 12px;
  cursor: default;
  min-width: 26px;
  margin-top:2px;
  margin-left:2px;
  margin-right:2px;
  margin-bottom:2px;
}

.glyphicon-refresh-animate {
  -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.modal-backdrop {
  z-index: 1 !important;
}
