#welcome-jumbo
  #welcome-banner
    #big-logo
    h1 踢踢控
    br
    h2#welcome-banner-ptt Ptt
    h2#welcome-banner-chrome Chrome
    br
    #get-app-btn.btn.btn-default.btn-lg Get from Chrome Web Store
    #already-installed-hint-container
      #already-installed-hint1 Already have PttChrome installed?
      #already-installed-hint2 Please set Google Chrome as your default browser and launch PttChrome from "批" app icon
      #already-installed-hint3 OR
      #already-installed-hint4 Add http://iamchucky.github.io/PttChrome/ to Chrome bookmarks and launch PttChrome from the bookmark
