<!DOCTYPE html>
<html>
  <head>
    <title><%= process.env.PTTCHROME_PAGE_TITLE %></title>
    <link rel="icon" type="image/png" href="<%= require('./icon/logo.png') %>">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="prefetch" href="<%= require('./conv/b2u_table.bin') %>">
    <link rel="prefetch" href="<%= require('./conv/u2b_table.bin') %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  </head>

  <body>
    <ul id="contextMenus" class="dropdown-menu" role="menu" style="display:none">
      <li id="cmenu_copy" class="cmenuItem contextSel"><a></a></li>
      <li id="cmenu_copyAnsi" class="cmenuItem contextSel"><a></a></li>
      <li id="cmenu_paste" class="cmenuItem contextNormal"><a></a></li>
      <li id="cmenu_searchGoogle" class="cmenuItem contextSel"><a></a></li>
      <li id="cmenu_openUrlNewTab" class="cmenuItem contextUrl"><a></a></li>
      <li id="cmenu_copyLinkUrl" class="cmenuItem contextUrl"><a></a></li>
      <li id="cmenu_divider1" class="divider"></li>
      <li id="cmenu_quickSearch" class="cmenuItem contextQuickSearch"><a></a>
        <ul id="quickSearchMenus" class="dropdown-menu" role="menu">
        </ul>
      </li>
      <li id="cmenu_divider2" class="divider contextQuickSearch"></li>
      <li id="cmenu_selectAll" class="cmenuItem contextNormal"><a></a></li>
      <li id="cmenu_mouseBrowsing" class="cmenuItem contextNormal"><a></a></li>
      <li id="cmenu_showInputHelper" class="cmenuItem contextNormal"><a></a></li>
      <li id="cmenu_showLiveArticleHelper" class="cmenuItem contextNormal"><a></a></li>
      <li id="cmenu_divider3" class="divider contextNormal"></li>
      <li id="cmenu_settings" class="cmenuItem"><a></a></li>
    </ul>

    <div id="BBSWindow" style="display:none">
      <input id="t" type="text" autocomplete="off" style="box-sizing:content-box; color:initial; border: none; width: 200px; height: 24px; position:absolute; left:-10000px; top:0px; z-index:2;resize: none; font-family:inherit !important;" autofocus/>
      <div id="cursor" class="terminal_display">_</div>
    </div> <!--BBSWindow end-->
    <div id="hideobj" style="display: none;">
      <span id="cmdHandler"></span>
      <select id="TrackKeyWordList">
      </select>
    </div>
    <div id="flashcontent" style="width:1px; height:1px; left:-10000px; top:-10000px;position: absolute;overflow: hidden;"></div>

    <!--Preferences Modal-->
    <div id="prefModal" class="modal fade" style="color:black;overflow-y:auto;z-index:2;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="modalNav">
            <h3 id="opt_title">Settings</h3>

            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-stacked" id="opt_tabs">
              <li><a id="optNav_general" href="#tabContentGeneral" name="general" data-toggle="pill">General</a></li>
              <li><a id="optNav_about" href="#tabContentAbout" name="about" data-toggle="pill">About</a></li>
            </ul>

            <button id="opt_reset" type="button" class="btn btn-default"></button>
          </div>
          <h3 id="modalHeader">General</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">

            <!-- Tab panes -->
            <div class="tab-content">

              <div class="tab-pane" id="tabContentGeneral">
                <div class="group">
                  <div class="list-group">
                    <div class="list-group-item-text">
                      <div id="opt_enablePicPreview" class="checkbox">
                      </div>
                      <div id="opt_enableNotifications" class="checkbox">
                      </div>
                      <div id="opt_enableEasyReading" class="checkbox">
                      </div>
                      <div id="opt_endTurnsOnLiveUpdate" class="checkbox">
                      </div>
                      <div id="opt_copyOnSelect" class="checkbox">
                      </div>
                      <div id="opt_antiIdleTime" class="form-group">
                      </div>
                      <div id="opt_lineWrap" class="form-group">
                      </div>
                    </div>
                  </div>
                  <div class="list-group">
                    <h4 id="opt_appearance" class="list-group-item-heading"></h4>
                    <div class="list-group-item-text">
                      <div id="opt_fontFitWindowWidth" class="checkbox">
                      </div>
                      <div id="opt_fontFace" class="form-group">
                      </div>
                      <div id="opt_bbsMargin" class="form-group">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group">
                  <div class="list-group">
                    <h4 id="opt_mouseBrowsing" class="list-group-item-heading"></h4>
                    <div class="list-group-item-text">
                      <div id="opt_useMouseBrowsing" class="checkbox">
                      </div>
                      <div id="opt_mouseBrowsingHighlight" class="checkbox">
                      </div>
                      <div id="opt_mouseBrowsingHighlightColor">
                      </div>
                      <div id="opt_mouseLeftFunction" class="form-group">
                      </div>
                      <div id="opt_mouseMiddleFunction" class="form-group">
                      </div>
                      <div id="opt_mouseWheelFunction1" class="form-group">
                      </div>
                      <div id="opt_mouseWheelFunction2" class="form-group">
                      </div>
                      <div id="opt_mouseWheelFunction3" class="form-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tabContentAbout"></div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="reactAlert"></div>
  </body>
</html>
