<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <title><%= process.env.PTTCHROME_PAGE_TITLE %></title>
    <link rel="icon" type="image/png" href="<%= require('./icon/logo.png') %>">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>

  <body>
    <span id="cmdHandler"></span>

    <div id="cmenuReact"></div>

    <div id="BBSWindow" style="display:none">
      <input id="t" type="text" autocomplete="off" style="box-sizing:content-box; color:initial; border: none; width: 200px; height: 24px; position:absolute; left:-10000px; top:0px; z-index:2;resize: none; font-family:inherit !important;" autofocus/>
      <div id="cursor" class="terminal_display">_</div>
    </div> <!--BBSWindow end-->

    <div id="reactAlert"></div>
  </body>
</html>
